<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="index.html" id="navtitle">
                <img
                    src="img/logo/mlc-logo-with-text-landscape.svg"
                    height="70px"
                    alt="MLC"
                    id="logo"
                />
            </a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="projects.html" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="blog.html" class="nav-link">Blogs</a>
            </li>
            <li class="nav-item">
                <a href="courses.html" class="nav-link">Courses</a>
            </li>
            <!---
            <li class="nav-item">
                <a href="about.html" class="nav-link">About</a>
            </li>
            -->
        </ul>
        <div class="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <script>
        // prevent FOUC of menu active state before JS runs
    </script>
</nav>


